@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0; }

.custom-toggler.navbar-toggler {
  border-color: goldenrod; }

.text-goldenrod {
  color: goldenrod; }

.text-shadow {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; }

nav {
  margin-left: 60px;
  margin-right: 60px; }

.navbar ul li a:hover {
  color: #ffc107 !important;
  border-bottom: 0.1px solid #ffc107;
  transition: 0.3s; }

nav ul {
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: 40px; }

nav img {
  margin-right: 40px; }

.navbar-collapse {
  text-align: center; }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none; }

body {
  background-color: black; }

.home__title {
  color: goldenrod;
  margin-top: 3rem;
  padding-left: 130px;
  text-align: center;
  width: 80%;
  font-size: 500; }

.home__info {
  font-size: 200; }

@media (min-width: 433px) and (max-width: 576px) {
  .col-sm-1 {
    width: 8.33%; }
  .col-sm-2 {
    width: 16.33%; }
  .col-sm-3 {
    width: 33.33%; }
  .col-sm-4 {
    width: 25%; } }

@media (max-width: 576px) {
  .navbar {
    margin-left: 35px; }
  .home__logo {
    margin-right: 0; }
  .home__image {
    margin-left: 30px; }
  .home__title {
    font-size: 1.6rem;
    margin-left: -20px; }
  .home__info {
    margin-left: 20px; } }

@media (min-width: 576px) and (max-width: 588px) {
  .home__title {
    font-size: 1.5rem; }
  .home__image {
    margin-left: 30px; }
  .navbar {
    margin-left: 35px; }
  .home__logo {
    margin-right: 0; } }

@media (min-width: 768px) {
  .home__image {
    margin-left: 5%; }
  .home__info {
    width: 70%;
    font-size: 1.2rem;
    margin-left: 15%; }
  .home__title {
    margin-left: 2%; }
  .home__logo {
    margin-right: 0; } }

@media (min-width: 900px) and (max-width: 1050px) {
  .home__image {
    margin-left: 15%; } }

@media (min-width: 1051px) and (max-width: 1199px) {
  .home__image {
    margin-left: 18%; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  nav ul {
    margin-left: 15%; }
  .home__logo {
    margin-right: 10%; }
  .home__image {
    margin-left: 25%; }
  .home__title {
    margin-left: 5%; }
  .home__info {
    width: 70%;
    font-size: 1.5rem;
    margin-left: 15%; } }

@media (min-width: 1400px) and (max-width: 1598px) {
  .row {
    display: flex;
    flex-direction: row; }
  nav {
    width: 80%;
    margin-left: 150px; }
  .home__image {
    margin-left: 100px; }
  .home__title {
    font-size: 2.3vw;
    margin-bottom: 20px;
    margin-left: -5px; }
  .home__info {
    font-size: 1.6vw; } }

@media (min-width: 1600px) and (max-width: 1800px) {
  body__home {
    overflow-y: hidden; }
  nav {
    width: 80%;
    margin-left: 150px; }
  .home__title {
    margin-bottom: 30px; }
  .home__info {
    font-size: 1.6vw; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  nav {
    width: 81%;
    margin-left: 150px; }
  .main__home {
    margin-left: 100px; }
  .home__image {
    margin-top: 100px;
    margin-bottom: 80px;
    width: 700px; }
  .home__title {
    font-size: 2.3vw;
    margin-top: 100px;
    margin-left: 60px;
    text-align: left; }
  .home__info {
    font-size: 1.6vw;
    margin-top: 40px;
    margin-left: 30px;
    width: 650px; } }

@media (min-width: 1920px) {
  nav {
    width: 65%;
    margin-left: 400px; }
  .main__home {
    margin-left: 350px; }
  .home__info {
    font-size: 1.35vw;
    margin-top: 40px;
    margin-left: 30px;
    width: 650px; }
  .home__image {
    margin-top: 100px;
    margin-bottom: 80px;
    width: 700px; }
  .home__title {
    font-size: 2vw;
    margin-top: 100px;
    margin-left: 0;
    text-align: left; } }

.about__bg-color {
  background-color: rgba(68, 47, 0, 0.5); }

.about__bg-image {
  background-image: url(/img/Background-About.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative; }

.about__info-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.about__title {
  font-weight: bold; }

@media (min-width: 920px) and (max-width: 1038px) {
  .cards__text-md {
    font-size: 1.2rem; } }

@media (min-width: 1039px) and (max-width: 1157px) {
  .cards__text-md {
    font-size: 1.4rem; } }

@media (min-width: 1157.99px) and (max-width: 1396px) {
  .cards__text-md {
    font-size: 1.6rem; } }

@media (min-width: 1396.99px) {
  .cards__text-md {
    font-size: 2rem; } }

@media (max-width: 397.99px) {
  .cards__text-sm {
    font-size: 0.8rem; } }

.disco__info-listen {
  text-align: center;
  font-size: 3rem;
  font-family: anton; }

.disco__title-text {
  font-size: 2rem; }

.disco__info-last {
  font-size: large;
  font-style: italic; }

@media (max-width: 991.98px) {
  .w-c-100 {
    width: 90%; } }

@media (min-width: 992px) {
  .w-clg-100 {
    width: 40%; } }

.carousel__center {
  margin: 0 auto; }

.galeria__title-fotos {
  text-align: end;
  font-size: 3rem;
  font-weight: bold; }

.galeria__title-videos {
  text-align: end;
  font-size: 3rem;
  font-weight: bold; }
