//Variables Globales

*{
    padding: 0;
    margin: 0;
}


//Colores

$primary:goldenrod;
$secondary: white;


.custom-toggler.navbar-toggler {
    border-color: goldenrod;
}

.text-goldenrod{
    color: goldenrod
}

//Sombras

.text-shadow{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


