.contacto__bg-image{
    background-image: url('../img/BackgroundContact.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.contacto__text-size{
    font-size: 32px;
    font-weight: bold;
}

.contact__text-info{
    font-size: 1.2rem;
}