.disco__bg-image{
    background-image: url(/img/BackgroundDisco.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.disco__info-listen{
    text-align: center;
    font-size: 3rem;
    font-family: anton;
}

.disco__title-text{
    font-size: 2rem;
    font-weight: bold;
}

.disco__info-last{
    font-size: 1.6rem;
    font-weight: $text__shrikhand;
    font-style: italic;
}

@media (max-width: 991.98px) { 
    .w-c-100{
        width: 90%;
    }
}

@media (min-width: 992px) {
    .w-clg-100{
        width: 40%;
    }
}