//FONT

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Montserrat&family=Roboto:wght@500&family=Shrikhand&display=swap');

//Variables texto

$text__poppin-medium: 200;
$text__poppin-large: 500;
$text__roboto-large: 500;
$text__montserrat: 400;
$text__eczar: 500;
$text__shrikhand: 400;

//Spacers

$spacer: 1rem !default;
        $spacers: () !default;
        // stylelint-disable-next-line scss/dollar-variable-default
        $spacers: map-merge(
        (
            0: 0,
            1: ($spacer * .25),    //4px
            2: ($spacer * .5),     //8px
            3: $spacer,            //16px
            4: ($spacer * 1.5),    //24px
            5: ($spacer * 3),      //48px
            6: ($spacer * 4),      //64px
            7: ($spacer * 5),      //80px
            8: ($spacer * 6.25),   //100px
            9: ($spacer * 7.5),    //120px
            10: ($spacer * 9.375)  //150px
        ),
        $spacers
        );





