.carousel__center{
    margin: 0 auto;
}

.galeria__bg-image{
    background-image: url('../img/BackgroundGaleria.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.galeria__title{
    font-weight: bold;
}

.galeria__title-fotos{
    text-align: end;
    font-size: 3rem;
}

.galeria__title-videos{
    text-align: end;
    font-size: 3rem;
    font-weight: bold;
}

@media (min-width: 370px) {
    .videos-container{
        width: 350px;
        height: 315px;
    }
}

@media (min-width: 576px) {
    .videos-container{
        width: 500px;
        height: 315px;
    }
}

@media (min-width: 740px) {
    .videos-container{
        width: 560px;
        height: 315px;
    }
}

@media (min-width: 1600px) {
    .videos-container{
        width: 700px;
        height: 450px;
    }
}