.carousel__center{
    margin: 0 auto;
}


.galeria__title-fotos{
    text-align: end;
    font-size: 3rem;
    font-weight: bold;
}

.galeria__title-videos{
    text-align: end;
    font-size: 3rem;
    font-weight: bold;
}
