body{
    background-color: black;
}


.home__title{
    color: goldenrod;
    margin-top: $spacer * 3;
    padding-left: 130px;
    text-align: center;
    width: 80%;
    font-size: $text__poppin-large;
}

.home__info{
    font-size: $text__poppin-medium;
    font-size: 1.2rem
}

.home__text-title{
    font-size: 3.5rem;
}
.home__text-info{
    font-size: 2rem;
}

// QUERIES HOME

// 0px to 1200px

@media (min-width: 433px) and (max-width: 576px) {
    .col-sm-1{ width: 8.33%; }    
    .col-sm-2{ width: 16.33%; }   
    .col-sm-3{ width: 33.33%; }   
    .col-sm-4{ width: 25%; } 
}



@media (min-width: 1200px) and (max-width: 1275px){
    .home__text-info{
        font-size: 1.8rem;
    }
}

@media (min-width: 1400px) and (max-width: 1454px){
    .home__text-info{
        font-size: 1.9rem;
    }
}

@media (max-width: 538px){
    .home__text-title{
        font-size: 2rem;
    }
    .home__text-info{
        font-size: 1.5rem;
    }
}