body{
    background-color: black;
}

.home__title{
    color: goldenrod;
    margin-top: $spacer * 3;
    padding-left: 130px;
    text-align: center;
    width: 80%;
    font-size: $text__poppin-large;
}

.home__info{
    font-size: $text__poppin-medium;
}


// MEDIA QUERIES

@media (min-width: 433px) and (max-width: 576px) {
    .col-sm-1{ width: 8.33%; }    
    .col-sm-2{ width: 16.33%; }   
    .col-sm-3{ width: 33.33%; }   
    .col-sm-4{ width: 25%; } 
}

// Small devices 576px

@media (max-width: 576px){
    .navbar{
        margin-left: 35px;
    }
    .home__logo{
        margin-right: 0;
    }
    .home__image{
        margin-left: 30px;
    }
    .home__title{
        font-size: 1.6rem;
        margin-left: -20px;
    }
    .home__info{
        margin-left: 20px;
    }
}

@media (min-width: 576px) and (max-width: 588px){
    .home__title{
        font-size: 1.5rem;
    }
    .home__image{
        margin-left: 30px;
    }
    .navbar{
        margin-left: 35px;
    }
    .home__logo{
        margin-right: 0;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .home__image{
        margin-left: 5%;
    }
    .home__info{
        width: 70%;
        font-size: 1.2rem;
        margin-left: 15%;
    }
    .home__title{
        margin-left: 2%;
    }
    .home__logo{
        margin-right: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 900px) and (max-width: 1050px) {
    .home__image{
        margin-left: 15%;
    }
}

// Devices 1051px to 1199px

@media (min-width: 1051px) and (max-width: 1199px) {
    .home__image{
        margin-left: 18%;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1400px){
    nav ul{
        margin-left: 15%;
    }
    .home__logo{
        margin-right: 10%;
    }
    .home__image{
        margin-left: 25%;
    }
    .home__title{
        margin-left: 5%;
    }
    .home__info{
        width: 70%;
        font-size: 1.5rem;
        margin-left: 15%;
    }
}

// Devices 1400px to 1598px
@media (min-width: 1400px) and (max-width: 1598px){
    .row{
        display: flex;
        flex-direction: row;
    }
    nav{
        width: 80%;
        margin-left: 150px;
    }

    .home__image{
        margin-left: 100px;
    }
    .home__title{
        font-size: 2.3vw;
        margin-bottom: 20px;
        margin-left: -5px;
    }
    .home__info{
        font-size: 1.6vw;
    }

}

// Devices 1600px to 1919px
@media (min-width: 1600px) and (max-width: 1800px){
    body__home{
        overflow-y: hidden;
    }
    nav{
        width: 80%;
        margin-left: 150px;
    }
    .home__title{
        margin-bottom: 30px;
    }
    .home__info{
        font-size: 1.6vw;
    }

}

// Hd display
@media (min-width: 1800px) and (max-width: 1920px){
    nav{
        width: 81%;
        margin-left: 150px;
    }
    .main__home{
        margin-left: 100px;
    }
    .home__image{
        margin-top: 100px;
        margin-bottom: 80px;
        width: 700px;
    }
    .home__title{
        font-size: 2.3vw;
        margin-top: 100px;
        margin-left: 60px;
        text-align: left;
    }
    .home__info{
        font-size: 1.6vw;
        margin-top: 40px;
        margin-left: 30px;
        width: 650px;
    }
}

@media (min-width: 1920px) {
    nav{
        width: 65%;
        margin-left: 400px;
    }
    .main__home{
        margin-left: 350px;
    }
    .home__info{
        font-size: 1.35vw;
        margin-top: 40px;
        margin-left: 30px;
        width: 650px;
    }
    .home__image{
        margin-top: 100px;
        margin-bottom: 80px;
        width: 700px;
    }
    .home__title{
        font-size: 2vw;
        margin-top: 100px;
        margin-left: 0;
        text-align: left;
    }
}    
    // Terminan Queries HOME