nav{
    margin-left: 60px;
    margin-right: 60px;
}

.navbar ul li a:hover{
    color: #ffc107 !important;
    border-bottom: 0.1px solid #ffc107;
    transition: 0.3s;

}

nav ul{
    font-weight: $text__roboto-large;
    font-size: 1.7rem;
    margin-left: 40px;
}

nav img{
    margin-right: 40px;
}

.navbar-collapse{
    text-align: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


